# VSCode
.vscode/

# Mac files
.DS_Store

# Ansible retry files
*.retry

# Ansible inventories
inventory
/inventories/

# Ansible host and group vars
/host_vars/
/group_vars/

# Custom ansible static files and templates
/files/
/templates/

# Ansible vault key
ansible_vault.key
