# {{ ansible_managed }}
# Created on: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

server {
    listen {{ nginx_http_port }} default_server;
    listen [::]:{{ nginx_http_port }} default_server;
    server_name {{ ssl_default_domain }};

    # Let's Encrypt webroot validation
    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
        default_type "text/plain";
        allow all;
    }

    # Linode Longview
    location /nginx_status {
        stub_status on;
        allow 127.0.0.1;
        deny all;
    }

    # Force HTTPS for all sites
    location / {
        return 301 https://$host$request_uri;
    }
}
