#!/usr/bin/env bash
# {{ ansible_managed }} - {{ ansible_date_time.date }} {{ ansible_date_time.time }}

cp {{ znc_caddy_data_directory }}/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ znc_domain }}/{{ znc_domain }}.key {{ znc_data_directory }}/server.key
cp {{ znc_caddy_data_directory }}/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ znc_domain }}/{{ znc_domain }}.crt {{ znc_data_directory }}/server.crt
